@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	/* outline: 1px solid lime; */
}

html {
	scroll-behavior: smooth;
}

body {
	@apply flex flex-col bg-stone-100 overflow-x-hidden text-lg font-["poppins"] dark:text-white dark:bg-stone-800;
}

button,
button[type="submit"] {
	@apply transition-all;
}

button:hover,
button[type="submit"]:hover {
	@apply scale-110;
}

/* landing page */

div.header {
	@apply w-screen h-screen flex flex-col justify-center gap-32 items-center bg-center bg-cover bg-no-repeat;
	background-image: url(../assets/sssurf.svg);
}

h1.title {
	@apply text-5xl flex flex-col items-center py-5 px-2.5 font-["roboto_slab"];
}

span.hi {
	@apply text-9xl;
}

.ti-chevrons-down {
	@apply text-3xl text-white inline-block hover:drop-shadow-[0_0_10px_rgba(255,255,255,1)];
	animation: bounce 1s ease-in-out infinite alternate;
}

@keyframes bounce {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(10px);
	}
}

div.header > div {
	@apply flex flex-col justify-center items-center gap-5 text-xl;
}

button.begin {
	@apply font-bold px-4 py-2 rounded-full border-4 border-white text-white transition-all duration-75 hover:shadow-[0px_0px_10px_0px_rgba(255,255,255,0.75),inset_0px_0px_10px_0px_rgba(255,255,255,0.75)];
}

/* navigation */

nav {
	@apply fixed top-1/2 right-8 text-3xl bg-white dark:bg-stone-800 dark:bg-opacity-50 bg-opacity-50 p-2 border-2 border-black dark:border-white rounded-full;
}

nav ul {
	@apply flex flex-col gap-2;
}

nav ul li {
	@apply relative;
}

.tooltip {
	@apply absolute top-0 right-12 px-2 scale-0 transition-all;
}

.tooltip p {
	@apply text-xl bg-indigo-400 dark:bg-indigo-900 px-2 py-1 rounded-lg;
}

.square {
	@apply w-4 h-4 rounded-sm bg-indigo-400 dark:bg-indigo-900 absolute -z-10 rotate-45 top-2 right-0.5;
}

.hovered .tooltip {
	@apply scale-100;
}

/* about section */

div#about {
	@apply flex flex-col mx-60;
}

h2 {
	@apply text-5xl text-center;
}

div.cat-title {
	@apply my-10 flex flex-col items-center gap-5;
}

div.line {
	@apply w-32 h-1.5 bg-indigo-600 dark:bg-indigo-400 rounded-full;
}

div#about > div:nth-of-type(2) {
	@apply flex flex-row gap-10;
}

div.long-paragraph {
	@apply max-w-prose flex flex-col gap-2.5;
}

div.long-paragraph p {
	@apply leading-8;
}

div.long-paragraph button {
	@apply bg-indigo-600 text-white rounded-md w-max px-6 py-2 text-base uppercase font-bold tracking-widest;
}

div.long-paragraph a {
	@apply h-max w-max mt-5;
}

p.tech {
	@apply text-2xl mb-5;
}

div.chips p {
	@apply bg-stone-300 dark:bg-stone-600 px-4 py-2 inline-block rounded-md mb-4 mr-4 text-xl;
}

/* projects */

div#projects {
	@apply flex flex-col mx-60;
}

div#projects > div:nth-of-type(2) {
	@apply flex flex-row gap-14 flex-wrap justify-center;
}
div.card {
	@apply w-96 bg-stone-300 dark:bg-stone-600 rounded-xl shadow-[0px_0px_20px_0px_rgba(0,0,0,0.5)] dark:shadow-[0px_0px_10px_5px_rgba(255,255,255,0.5)] p-5 hover:scale-105 transition-transform;
}

div.bg-img {
	@apply w-full aspect-[4/3] bg-cover bg-center  rounded-xl;
}

div.bg-img-dis {
	background-position: 50% 0%;
	background-image: url("../assets/discord.png");
}

div.bg-img-blob {
	background-image: url("../assets/blob.png");
}

div.bg-img-weather {
	background-image: url("../assets/weather.png");
}

div.bg-img-clock {
	background-image: url("../assets/clock.png");
}

div.bg-img-menu {
	background-image: url("../assets/hamburger-menu.png");
}

p.card-title {
	@apply text-2xl my-3 tracking-widest;
}

p.card-desc {
	@apply leading-8;
}

/* footer */

/* TODO move placeholder up */

.form-container {
	@apply max-w-md mx-auto space-y-4;
}

.flex-container {
	@apply flex space-x-4;
}

.form-input {
	@apply relative w-full px-4 py-2  text-black border-stone-400 border-2 rounded-md focus:ring focus:ring-indigo-300 focus:border-indigo-500 transition-all;
}

.form-input::placeholder {
	position: absolute;
	top: 2rem;
	left: 4rem;
}

.submit-button {
	letter-spacing: 0.25rem;
	@apply block w-full px-4 py-2 uppercase  font-bold text-white rounded-md bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus:ring-opacity-50 transition-colors;
}

div.footer {
	@apply px-60;
}

div#contact i {
	@apply text-3xl;
}

div#contact ul {
	@apply flex gap-5 justify-center my-10 text-xl;
}

div#contact ul li a {
	@apply flex items-center gap-2 py-1 px-3 w-max rounded-md dark:shadow-[inset_0_0_0_0_rgb(129,140,248)] shadow-[inset_0_0_0_0_rgb(79,70,229)] text-indigo-600 dark:text-indigo-400 -mr-1 ml-[-0.25rem] dark:hover:shadow-[inset_200px_0_0_0_rgb(129,140,248)] hover:shadow-[inset_200px_0_0_0_rgb(79,70,229)] hover:text-white;
	transition: all 0.3s ease-in-out;
}
