@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	/* outline: 1px solid lime; */
}

html {
	scroll-behavior: smooth;
}

body {
	@apply flex flex-col bg-stone-100 overflow-x-hidden text-lg font-["poppins"] dark:text-white dark:bg-stone-800;
	@apply max-md:text-base;
}

button,
button[type="submit"] {
	@apply transition-all;
}

button:hover,
button[type="submit"]:hover {
	@apply scale-110;
}

h2 {
	@apply text-5xl text-center;
	@apply max-md:text-3xl;
}

div.cat-title {
	@apply my-10 flex flex-col items-center gap-5;
}

div.line {
	@apply w-32 h-1.5 bg-indigo-600 dark:bg-indigo-400 rounded-full;
}

/* landing page */

div.header {
	background-image: url(../assets/sssurf.svg);
	@apply w-screen h-screen flex flex-col justify-evenly items-center bg-center bg-cover bg-no-repeat;
}

div.head-img {
	@apply flex flex-row w-screen justify-around px-32 gap-10;
	@apply max-xl:flex-col max-xl:items-center;
	@apply max-lg:px-20;
	@apply max-md:px-5;
}

div.head-text {
	@apply flex flex-col justify-between;
	@apply max-xl:gap-10;
}

div.head-text > div p {
	@apply mb-2.5 text-2xl;
	@apply max-md:text-lg;
}

.ti-chevrons-down {
	@apply text-3xl text-white inline-block hover:drop-shadow-[0_0_10px_rgba(255,255,255,1)];
	animation: bounce 1s ease-in-out infinite alternate;
}

@keyframes bounce {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(10px);
	}
}

div.header > div.button-next {
	@apply flex flex-col justify-center items-center gap-5 text-xl;
}

button.begin {
	@apply font-bold px-4 py-2 rounded-full border-4 border-white text-white transition-all duration-75 hover:shadow-[0px_0px_10px_0px_rgba(255,255,255,0.75),inset_0px_0px_10px_0px_rgba(255,255,255,0.75)];
}

/* navigation */

nav {
	@apply fixed z-20 bottom-1/2 right-8 text-3xl bg-stone-100 dark:bg-stone-800 dark:bg-opacity-50 bg-opacity-50 p-2 border-2 border-black dark:border-white rounded-full;
	@apply max-md:bottom-2 max-md:right-1/2 max-md:translate-x-1/2;
}

nav ul {
	@apply flex flex-col gap-2;
	@apply max-md:flex-row max-md:gap-4;
}

nav ul li {
	@apply relative;
}

.tooltip {
	@apply absolute top-0 text-white right-12 px-2 scale-0 transition-all;
	@apply max-md:-top-14 max-md:-right-1/2 max-md:translate-x-4;
}

.tooltip p {
	@apply text-xl bg-indigo-600 px-2 py-1 rounded-lg;
}

.square {
	@apply w-4 h-4 rounded-sm bg-indigo-600 -z-10 absolute rotate-45 top-2 right-0.5;
	@apply max-md:hidden;
}

.hovered .tooltip {
	@apply scale-100;
}

/* about section */

div#about {
	@apply px-60;
	@apply max-2xl:px-20;
	@apply max-md:px-5;
}

div#about > div:nth-of-type(2) {
	@apply flex flex-row gap-10;
	@apply max-lg:flex-col;
}

div.long-paragraph {
	@apply max-w-prose flex flex-col gap-2.5;
}

div.long-paragraph p {
	@apply leading-8;
}

div.long-paragraph button {
	@apply bg-indigo-600 text-white rounded-md w-max px-6 py-2 text-base uppercase font-bold tracking-widest;
}

div.long-paragraph a {
	@apply h-max w-max mt-5;
}

p.tech {
	@apply text-2xl mb-5;
}

div.chips p {
	@apply bg-stone-300 dark:bg-stone-600 px-4 py-2 inline-block rounded-md mb-4 mr-4 text-xl;
}

/* projects */

div#projects > div:nth-of-type(2) {
	@apply flex flex-row gap-14 flex-wrap justify-center;
}
div.card {
	@apply w-96 bg-stone-300 dark:bg-stone-600 rounded-xl flex flex-col justify-between shadow-[0px_0px_20px_0px_rgba(0,0,0,0.5)] dark:shadow-[0px_0px_10px_5px_rgba(255,255,255,0.5)] p-5 hover:scale-105 transition-transform;
	@apply max-md:flex-grow max-md:max-w-md;
}

div.card a:nth-of-type(2) {
	@apply hover:underline mt-5;
}

img.bg-img {
	@apply w-full aspect-[4/3] object-cover object-center  rounded-xl;
}

p.card-title {
	@apply text-2xl my-3 tracking-widest;
}

p.card-desc {
	@apply leading-8;
}

/* footer */

:focus {
	outline: none;
	box-shadow: none;
	border-color: transparent;
}

div.footer {
	@apply max-md:pb-7;
}

.form-container {
	@apply max-w-2xl mx-auto space-y-4;
}

.flex-container {
	@apply flex gap-6;
}

.form-input {
	@apply focus:dark:border-indigo-400 focus:border-indigo-600 relative w-full p-2 bg-stone-100 dark:bg-stone-800  border-stone-400 border-2 rounded-md transition-all;
}

label {
	@apply cursor-text text-stone-500 text-xl absolute px-1 z-10 top-2 left-2 transition-all;
}

label.focused {
	@apply dark:text-indigo-400 text-indigo-600;
}

label.raised {
	@apply -top-4 scale-95 bg-stone-100 dark:bg-stone-800;
}

.submit-button {
	letter-spacing: 0.25rem;
	@apply block w-full px-4 py-2 uppercase hover:scale-105 active:scale-95 font-bold text-white rounded-md bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-400 focus:ring-opacity-50 transition-colors;
}

div#contact i {
	@apply text-3xl;
}

div#contact ul {
	@apply flex gap-5 justify-center my-10 text-xl;
}

div#contact ul li a {
	@apply flex items-center gap-2 py-1 px-3 w-max rounded-md dark:shadow-[inset_0_0_0_0_rgb(129,140,248)] shadow-[inset_0_0_0_0_rgb(79,70,229)] text-indigo-600 dark:text-indigo-400 -mr-1 ml-[-0.25rem] dark:hover:shadow-[inset_200px_0_0_0_rgb(129,140,248)] hover:shadow-[inset_200px_0_0_0_rgb(79,70,229)] hover:text-white;
	transition: all 0.3s ease-in-out;
}

div#contact ul li a p {
	@apply max-md:hidden;
}

div.chapter {
	@apply flex flex-col px-32;
	@apply max-lg:px-20;
	@apply max-md:px-5;
}
