@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input-container {
	position: relative;
}

.form-input-container label {
	position: absolute;
	left: 0.75rem;
	top: 0.75rem;
	transition: all 0.2s;
	pointer-events: none;
}

.form-input-container input:focus ~ label,
.form-input-container input:not(:placeholder-shown) ~ label,
.form-input-container textarea:focus ~ label,
.form-input-container textarea:not(:placeholder-shown) ~ label {
	top: -1.5rem;
	left: 0;
	font-size: 0.875rem;
}

.form-input-container input:focus ~ label,
.form-input-container textarea:focus ~ label {
	@apply text-indigo-600;
}

.dark .form-input-container input:focus ~ label,
.dark .form-input-container textarea:focus ~ label {
	@apply text-indigo-400;
}
